<!DOCTYPE html>
<html>
    <head>
        <title>
          Rad Store  
        </title>
        <link rel="stylesheet" href="new.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    </head>
    <body>
        <section id="header">
            <a href="Logo"><img src="imgftr.jpg" width="100px" class="logo" alt="logo"></a>
        
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </section>
    <section id="hero">
        <h4>Trade-In-Offer</h4>
        <h2>Super Value deals</h2>
        <h1>On all products</h1>
        <p>save more with coupons & upto 50% off!</p>
        <button>Shop Now</button>
    </section>
    
    <section id="product-1" class="section-p1">
     <h2>Featured Products</h2>
     <p>Summer Collection</p>
     <div class="container">
         <div class="pro">
             <img src="img1.jpg"  alt="">
             <div class="des">
                 <span>adidas</span>
                 <h5>Red line trouser</h5>
                 <div class="star">
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                     <i class="fas fa-star"></i>
                 </div>
                 <h4>$10</h4>
             </div>
             <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
         </div>
         <div class="pro">
            <img src="img2.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>black trouser</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img3.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Black trouser</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img4.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Grey trouser</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img6.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Green T-Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img7.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Blue T-Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img8.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Polo Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="img9.jpg"  alt="">
            <div class="des">
                <span>adidas</span>
                <h5>Green Polo-Shirt</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$10</h4>
            </div>
            <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

     </div>
    </section>
    <section id="banner" class="section-m1">
        <h4>Repair Services</h4>
        <h2>Upto <span>50% off </span>- All T-Shirts $ Trousers</h2>
        <button class="normal">Explore More</button>
    </section>
    <section id="product-1" class="section-p1">
        <h2>New Arrival</h2>
        <p>Summer Collection</p>
        <div class="container">
            <div class="pro">
                <img src="n1.jpg"  alt="">
                <div class="des">
                    <span>adidas</span>
                    <h5>Shirt</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$10</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
            <div class="pro">
               <img src="n2.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="n3.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="n4.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="n6.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shorts</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="n7.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="n8.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
           <div class="pro">
               <img src="img10.jpg"  alt="">
               <div class="des">
                   <span>adidas</span>
                   <h5>Polo-Shirt</h5>
                   <div class="star">
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                   </div>
                   <h4>$10</h4>
               </div>
               <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
           </div>
   
        </div>
       </section>
       <section id="sm-banner" class="section-p1">
           <div class="bannerbox">
               <h4>Crazy Deals</h4>
               <h2>Buy 1 get 1 Free</h2>
               <span>the best classic dress is on sale at care</span>
               <button class="white">Explore more</button>
           </div>
           <div class="bannerbox bannerbox2">
            <h4>summer/spring</h4>
            <h2>Upcomming season</h2>
            <span>the best classic dress is on sale at care</span>
            <button class="white">Collection</button>
        </div> 
       </section>
       <section id="bannner1">
        <div class="bannerbox">
            <h2>Season Sale</h2>
            <h3>Winter Collecton 50% off</h3>
        </div>
        <div class="bannerbox bannerbox-2">
            <h2>New Collection</h2>
            <h3>Sring/ Summer 2022</h3>
        </div>
        <div class="bannerbox bannerbox-3">
            <h2>T-Shirts</h2>
            <h3>New Trendy Prints</h3>
        </div>
       </section>
       <section id="letter" class="section-p1 section-m1">
           <div class="letter">
               <h4>sign up for Newsletter</h4>
               <p>get email update about our latest shop and <span>special offers.</span></p>
           </div>
           <div class="form"><input type="text" placeholder="your E-mail address">
           <button class="normal">sign up</button>
        </div>
       </section>
       <footer class="section-p1">
       <div class="col">
          <img class="logo" src="imgftr.jpg" width="100px" alt="">
          <h4>Contact</h4>
          <p><strong>Address:</strong>786 liberty Main Market GulbergII Lahore</p>
        <p><strong>Phone:</strong>000000000</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
       </div>
       <div class="col">
           <h4>About</h4>
           <a href="#">About us</a>
           <a href="#">Delivery Info</a>
           <a href="#">Privacy Policy</a>
           <a href="#">Terms & Conditions</a>
           <a href="#">Contact Us</a>
       </div>
       <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign IN</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishtlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <p>From App store or google play</p>
        <div class="row">
            <img src="pay/app.jpg" alt="">
            <img src="pay/play.jpg" alt="">
        </div>
        <p>Secured Payment Gateway</p>
        <img src="pay/pay.png" alt="">
    </div>
    <div class="copyrights">
        <p>© 2021, tech2 etc HTML CSS platform</p>
    </div>
       </footer>
        <script src="new.js"></script>
    </body>
    <p style="color:red"><@Viewbag.message</p>
</html>

